<footer id="footer">

        <a class="kk" href=" https://www.linkedin.com/mwlite/in/raunak-singh-7864701b8"><i  class=" fa-brands fa-linkedin fa-2x" >   </i></a>
        <a class="kk" href="https://twitter.com/1907raunak"><i class="fa-brands fa-twitter fa-2x">   </i></a>
        <a class="kk" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square fa-2x"> </i></a>
        <a class="kk" href="https://www.instagram.com/raunak5225/?hl=en"><i class="fa-brands fa-instagram fa-2x">   </i></a>
        <p>© Copyright Indo~Weather</p>
    
      </footer>